@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /*background-color: #008ca3;*/

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(0,140,163);
  background: linear-gradient(137deg, rgba(0,140,163,1) 0%, rgba(102,191,179,1) 100%);

  --el-color-primary: #008ca3!important;
  --el-color-primary-light-3: rgb(52 198 223)!important;
  --el-color-primary-light-5: rgb(122 221 237)!important;
  --el-color-primary-light-7: rgb(169 231 241)!important;
  --el-color-primary-light-8: rgb(200 243 251)!important;
  --el-color-primary-light-9: rgb(236 252 255)!important;
  --el-color-primary-dark-2: rgb(0 69 81)!important;
}

.el-form-item__label {
  margin-bottom: 2px!important;
}

.el-form-item {
  margin-bottom: 12px !important;
}

p {
  margin-bottom: 12px;
}

a {
  font-weight: 500;
  color: var(--el-color-primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--el-color-primary-light-5);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

